.form-container {
    width: 100%;
    height: auto;
    background: #c5dbef;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size:12px !important;
    background-image: radial-gradient(#eaeef3 7%, transparent 0);
    background-size: 30px 30px;
    border-radius: 15px;
    box-shadow: 5px 3px 5px 3px #62606040;
    padding: 1rem;
}
