.login-signup-body {
    background-image: url(https://media4.giphy.com/media/5YbQYuAnMfNkUU6GpT/200.webp?cid=ecf05e47u560ho1iht5uk3dz5vart6z16rl6tlfisryls7jr&rid=200.webp&ct=g);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 50% 10%;
}