* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Special Elite', cursive !important;
}

.header {
  font-family: 'Special Elite', cursive !important;
  font-size: 18px !important;
  color:#4183C4 !important;
  padding: 6px !important;
  margin:0 !important;
}
.arial {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}